<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/general/head'); %>
    <link rel="stylesheet" href="/general/css/register-success.css">
</head>
<body>

<header>
    <%- include('../../partials/general/header'); %>
</header>

<main>
    <h2>Bună, <%- user.name %>! Te-ai înregistrat cu succes.</h2>
</main>

<%- include('../../partials/general/footer'); %>


</body>
</html>
