<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/general/head'); %>
    <link rel="stylesheet" href="/general/css/chatBot.css">
</head>
<body>

<header>
    <%- include('../../partials/general/header'); %>
</header>

<main>
    <div class="chatbot-container">
        <div class="chatbot-messages" id="chatbotMessages">
        </div>
        <form id="chatbotForm">
            <input type="hidden" name="csrf_token" value="<%= csrf_token %>">
            <input type="text" id="chatbotInput" placeholder="Scrie un mesaj..." required>
            <button type="submit" class="btn btn-primary">Trimite</button>
        </form>
    </div>
</main>

    <%- include('../../partials/general/footer'); %>

<script src="/general/js/chatBot.js"></script>
</body>
</html>

