<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../../partials/general/head'); %>
    <link rel="stylesheet" href="/general/css/contact.css">
</head>
<body>

	<header>
		<%- include('../../partials/general/header'); %>
	</header>

	<main>
		<h1>Contactează-ne</h1>
		<div class="contact-container">
			<h2>Ai nevoie de ajutor?</h2>
			<p>Dacă ai întrebări, sugestii sau ai nevoie de asistență, nu ezita să ne contactezi. Suntem aici să te ajutăm!</p>
			
			<div class="contact-details">
				<p><strong>Email:</strong> support@thriftshop.com</p>
				<p><strong>Telefon:</strong> +40 123 456 789</p>
				<p><strong>Adresă:</strong> Str. Exemplu 123, București, România</p>
			</div>
		</div>
	</main>

	<%- include('../../partials/general/footer'); %>

</body>
</html>
